<div class="container">
    <div class="col-7">
<div> Hello, <%= new Date() %> </div>
<h1>Welcome to the Internship Qualification Checking Site</h1>
    <p>The purpose of this website is for students to be able to check whether or not they qualify for internships based on their GPA.
        On the "Grade Input" page users will be prompted to add their letter grades for CSC141, CSC142, CSC240, and CSC241.
        Our system will then calculate the GPA of the student, and report whether or not the student is qualified. 
        If a student is qualified, their name will be added to the "Qualified Students" page.
    </p>
    <p> If you want check your grades, click <a class="a2" href="/newUsers">the Grade Input page</a></p>
    <p> If you want to see the qualified students, click <a class="a2" href="/users">the Qualified Students page</a>.</p>
</div>
</div>