<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
</head>

<body>
	<div id="nav">
		<div class="col-6 center">
			<a class="a1" href="/"><span class="button">Home</span></a>
			<a class="a1" href="/newUsers"><span class="button">Grade Input</span></a>
			<a class="a1" href="/users"><span class="button">Qualified Students</span></a>
		</div>
		<div class="col-6 center">
		</div>
	</div>

	<%- body %>

</body>