<div class="col-6">
    <form action= "/newUsers" method = "post" className="form">
        <label for='name'>Student Name</label>
        <input type="text" name='name'>
        <label for='csc141'>CSC141 Grade</label>
        <input type="text" name = 'csc141'>
        <label for='csc142'>CSC142 Grade</label>
        <input type="text" name = 'csc142'>
        <label for='csc240'>CSC240 Grade</label>
        <input type="text" name = 'csc240'>
        <label for='csc241'>CSC241 Grade</label>
        <input type="text" name = 'csc241'>
        <p></p>
        <input type="submit" value ="Submit">
    </form>
</div>
