<div class="container">
  <div class="col-7">
    <h1>Sorry <%= name %></h1>
    <p>According to the grades entered, your GPA is <%= gpa %> so you do not qualify for the internship.</p>
    <p>If you would like to try again, or think you entered an incorrect grade  
      <a class="a2" href="/newUsers">Click Here</a>
       to return to the Grade Input page.
    </p>
    <p>Better luck next time!</p>
  </div>
</div>