<div class="container">
  <div class="col-7">
    <h1>Congratulations <%= name %>!</h1>
    <p> With a GPA of <%= gpa %> you are officially qualified for the internship!</p>
    <p>  
      <a class=a2 href="/users">Click Here</a> to see your name on the list along with others that qualified.
    </p>
  </div>
</div>