<div class="container">
    <div class="col-7">
      <h1>System Error Occurred</h1>
      <p>Please ensure that all letter grades consist of only A, B, C, D, or F, with at most one + OR -.</p>
      <p>Example of a proper letter grade: B+</p>
      <p>Examples of an improper letter grade: A++++++++, Z, F------</p>
      <p>Also make sure your name is entered properly, with only one space between your first and last name. Middle names are not tracked.</p>
      <p>Example of a proper name: John Schmitt</p>
      <p>Example of an improper name: John Jacod Jingleheimer Schmitt</p>
      <p>
        <a class="a2" href="/newUsers">Click Here</a>
         when you are ready to enter proper values.
      </p>
    </div>
  </div>
