<div class="users">
  <div class="col-6">
    <% allUsers.forEach(users => {%>
      <p>Name: <%= users.name %>
      </p>
      <p>GPA: <%= users.gpa %>
      </p>
      <hr/>
      <% })%>
  </div>
</div>  