<div>
        <form method = "post" action="navigate">
        <table id="tabs">
            <tr>
                <td>
                    <button class="supDashboardTab" name="button" value="6">Pending Reimbursement Requests</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="supDashboardTab" name="button" value="5">Pending Grades/ Presentations</button>
                </td>
            </tr>
        </table>
        </form>
</div>
