
    <div>
        <form method ="post" action="navigate">
            <table id="tabs">
                <tr>
                    <td>
                        <button class="dashboardTab" name="button" value="1">Reimbursements 101</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" name="button" value="2">Create Reimbursement Request</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" name="button" value="3">Upload Grade/ Presentation</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="dashboardTab" name="button" value="4">View Requests</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
